.ques-card-frame {
  display: flex;
  justify-content: center;
}

.ques-card {
  margin-top: 10px;
  background-color: #F8F8F8;
  color: black;
  width: 832px;
  border-radius: 8px;
  padding: 0 10px 10px 10px;
}

.tags {
  display: flex;
}

.tags p {
  background-color: rgb(0, 153, 255);
  margin-right: 15px;
  padding: 5px;
  border-radius: 3px;
  font-weight: 500;
}

.ques-card-footer {
  display: flex;
  justify-content: space-around;
}