body {
  background-color: black;
  color: #F8F8F8;
  font-family: Inter;
}

ul {
  list-style: none;
}

.footer-menu {
  margin-top: 50px;
  border-top: 1px solid rgba(128, 128, 128, 0.35);
  font-family: Inter;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.footer-menu p {
  font-size: 10px;
}