.ques-card-frame {
  display: flex;
  justify-content: center;
}

.ques-card {
  margin-top: 10px;
  background-color: #F8F8F8;
  color: black;
  min-width: 300px;
  max-width: 832px;
  border-radius: 8px;
  padding: 0 20px 5px 20px;
}

.tags {
  display: flex;
}

.tags p {
  background-color: #A9D9FF;
  margin-right: 15px;
  padding: 5px;
  border-radius: 3px;
}

.ques-card-footer {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.question-headline {
  font-size: 20px;
}